body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/mainPageImg/mainBackground.png");
    background-size: cover;
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90vw;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}

.title, .subtitle {
    margin-top: 12px;
    margin-bottom: 12px;
}

.title {
    font-size: 72px;
    font-weight: bold;
}

.buttons {
    margin-top: 24px;
}

.redirect-button {
    border: 2px solid #000000;
    text-decoration: none;
    color: #000000;
    padding: 16px 6px;
    font-size: 32px;
    margin-left: 24px;
    margin-right: 24px;
    transition: 0.3s;
}

.redirect-button:hover {
    background-color: #D9D9D9;
}

.redirect-button:active {
    opacity: 0.7;
}

.subtitle {
    font-size: 64px;
}

.employee-title {
    font-size: 32px;
    margin-top: 64px;
    margin-bottom: 12px;
}

th, td {
    padding: 5px;
}

th {
    width: 200px;
}