body {
    margin: 0;
    padding: 0;
    background-image: url("../images/mainPageImg/mainBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    overflow: hidden;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

.main-container {
    width: 90vw;
    height: 100vh;
    background-color: #FFFFFF;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-date {
    margin-top: 16px;
    margin-left: 32px;
}

.main-header-button-container {
    display: flex;
    gap: 50px;
    margin-top: 16px;
    margin-right: 32px;
}

.main-header-button {
    text-decoration: none;
    color: #000000;
    padding: 16px 6px;
    transition: 0.3s;
}

.main-header-button:hover {
    background-color: #D9D9D9;
}

.main-header-button:active {
    opacity: 0.7;
}

.main-logo-img {
    height: 15vh;
    margin-top: 16px;
    margin-bottom: 16px;
}

.main-rotator {
    overflow: hidden;
    white-space: nowrap;
    background-color: #F2F2F2;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.main-rotator::-webkit-scrollbar {
    display: none;
}

.main-rotator-container {
    display: inline-flex;
    will-change: transform;
    animation: scroll 35s infinite linear;
}

.rotator-element {
    font-size: 3vh;
    flex-shrink: 0;
    padding: 20px 20px 20px 20px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.main-content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 76vh;
}

.content-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.content-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
}

.content-three {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.content-four {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    background-color: #D9D9D9;
}

.content-five {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-six {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #D9D9D9;
}

.content-title {
    font-size: 3vh;
    font-weight: bold;
    line-height: 4vh;
    max-width: 75%;
    margin-left: 32px;
    margin-top: 32px;
}

.content-text {
    line-height: 2.5vh;
    margin-left: 32px;
    margin-top: 32px;
    margin-right: 32px;
}

.content-container {
    height: 90%;
    width: 90%;
}

.content-two-container {
    border: 2px solid #000000;
    height: 90%;
    width: 90%;
}

.content-text-two {
    line-height: 3vh;
    font-style: italic;
    margin-top: 32px;
    max-width: 450px;
}

.content-cat-img {
    height: 40vh;
    object-fit: contain;
    margin-top: 32px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-text-four {
    max-width: 386px;
}

.content-newspaper-img {
    height: 32vh;
    width: 32vh;
}