body
{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /* Remove this when it's fixed. */
    background-image: url(../images/loginPageImg/sidebar.png);
    font-size: 24px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

p {
    margin: 0;
}

.pageWrapper {
    width: 90%;
}

.mainFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/loginPageImg/bg.png);
    background-size: cover;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

/* General design ends here.
Header design starts. */

header
{
    margin: 0;
    padding: 0;
    height: auto;
    align-items: center;
    position: relative;
}

#headerContent
{
    display: flex;
    justify-content: space-between;
    grid-area: 2 / 3;
    background-color: white;
    border: 2px solid black;
}

.buttonWrapper {
    margin-top: 36px;
    margin-right: 26px;
}

#logo
{   
    padding: 10px;
    grid-column: 1 / 2;
    height: 15vh;
    box-sizing: border-box;
    border-right: 2px solid black;
}

#headerText
{
    margin: 0;
    font-size: 6vh;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header design ends here.
Main design starts. */

main
{
    min-height: 85vh;
    display: grid;
    grid-template-columns: 2.5% 1fr 2.5%;
}

#mainContent
{
    grid-column: 2 / 3;
    /* background-image: url(../images/loginPageImg/bg.png); */
    background-size: cover;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/* Main design ends here.
Form design starts. */

form
{
    display: grid;
    row-gap: 1rem;
    width: 300px;
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
}

.formCategory
{
    display: grid;
    grid-template-rows: auto auto auto;
}

input
{
    width: 70%;
    padding: 3px;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    box-sizing: border-box;
    transition: width 0.5s ease-in-out;
}

input:focus
{
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
}

input[type=button], [type=submit], [type=reset]
{
    margin: 0;
    padding: 2px 6px;
    width: 70px;
    background-color: #EBEBEB;
    border: 1px solid black;
    cursor: pointer;
}

#buttonContainer
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.loginButton {
    width: fit-content;
    text-decoration: none;
    border: none;
    background-color: #F5F5F5;
    color: #000000;
    padding: 16px 6px;
    transition: 0.3s;
}

.loginButton:hover {
    background-color: #D9D9D9;
}

.loginButton:active {
    opacity: 0.7;
}

.headerButton {
    background-color: #FFFFFF;
    border: 2px solid #000000;
}


.errorsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error, .success, .register-success, .error-absolute
{
    font-size: 18px;
    color: red;
    margin-top: 6px;
    margin-bottom: 6px;
}

.success {
    color: green;
}

.number-pattern {
    font-size: 14px;
}

.register-success {
    padding: 16px 6px;
    color: #000000;
    background-color: #EBEBEB;
    border: 2px solid #000000;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s;
}

.register-success:hover {
    background-color: #D9D9D9;
}

.register-success:active {
    opacity: 0.7;
}