body
{
    margin: 0;
    height: 100vh;
    overflow: hidden;
    /* Remove this when it's fixed. */
    background-image: url(../images/loginPageImg/sidebar.png);
}

/* General design ends here.
Header design starts. */

header
{
    margin: 0;
    padding: 0;
    height: auto;
    display: grid;
    grid-template-columns: 2.5% auto 1fr 2.5%;
    align-items: center;
    position: relative;
}

#headerContent
{
    height: 15vh;
    grid-area: 2 / 3;
    background-color: white;
    border: 1px solid black;
    border-top: none;
    display: grid;
    grid-template-columns: auto 1fr;
}

#logo
{   
    padding: 10px;
    grid-column: 1 / 2;
    height: 15vh;
    box-sizing: border-box;
    border-right: 1px solid black;
}

#headerText
{
    margin: 0;
    font-size: 7vh;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header design ends here.
Main design starts. */

main
{
    min-height: 85vh;
    display: grid;
    grid-template-columns: 2.5% 1fr 2.5%;
}

#mainContent
{
    grid-column: 2 / 3;
    background-image: url(../images/loginPageImg/bg.png);
    background-size: cover;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
}

/* Main design ends here.
Form design starts. */

form
{
    display: grid;
    row-gap: 1rem;
    width: 300px;
    background-color: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
}

.formCategory
{
    display: grid;
    grid-template-rows: auto auto auto;
}

input
{
    width: 70%;
    padding: 3px;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    box-sizing: border-box;
    transition: width 0.5s ease-in-out;
}

input:focus
{
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
}

input[type=button], [type=submit], [type=reset]
{
    margin: 0;
    padding: 2px 6px;
    width: 70px;
    background-color: #EBEBEB;
    border: 1px solid black;
    cursor: pointer;
}

#buttonContainer
{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
}

.error
{
    color: red;
}