body {
    margin: 0;
    padding: 0;
    background-image: url("../images/mainPageImg/mainBackground.png");
    background-size: cover;
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

p, h1 {
    margin: 0;
}

.main-container {
    width: 90vw;
    background-color: #FFFFFF;
    border: 2px solid #000000;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin-inline: 20px;
    margin-top: 20px;
}

.main-header-left, .main-header-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.main-header-mid {
    display: flex;
    justify-content: center;
}

.main-date {
    min-width: fit-content;
}

.main-header-button {
    text-decoration: none;
    color: #000000;
    padding: 16px 6px;
    transition: 0.3s;
}

.main-header-button:hover {
    background-color: #D9D9D9;
}

.main-header-button:active {
    opacity: 0.7;
}

.main-logo-img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.main-rotator {
    overflow: hidden;
    white-space: nowrap;
    background-color: #F2F2F2;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.main-rotator::-webkit-scrollbar {
    display: none;
}

.main-rotator-container {
    display: inline-flex;
    will-change: transform;
    animation: scroll 35s infinite linear;
}

.rotator-element {
    font-size: 30px;
    flex-shrink: 0;
    padding: 20px 20px 20px 20px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


.main-content-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.grid-content-placement-two, .grid-content-placement-five {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-content-placement-one {
    padding: 16px;
    background-color: #FFFFFF;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.title-container-one {
    display: block;
    font-weight: bold;
    font-size: 28px;
}

.grid-content-placement-two {
    padding: 16px;
    background-color: #F5F5F5;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.border-container-two {
    border: 2px solid #000000;
    margin-inline: 12px;
}

.text-container-two {
    font-size: 22px;
    padding: 12px;
    line-height: 32px;
    font-style: italic;
}

.signature-two {
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    font-style: italic;
}

.grid-content-placement-three {
    padding: 16px;
    background-color: #FFFFFF;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.grid-content-placement-four {
    padding: 16px;
    background-color: #D9D9D9;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

.flex-container-four {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cat-img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    max-height: 500px;
    margin-bottom: 24px;
}

.grid-content-placement-five {
    padding: 16px;
    background-color: #EBEBEB;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.flex-container-five {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newspaper-img {
    object-fit: contain;
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

.grid-content-placement-six {
    line-height: 48px;
    padding: 16px;
    background-color: #D9D9D9;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.text-container {
    font-size: 20px;
    line-height: 28px;
    max-width: 540px;
}

@media screen and (max-width: 1200px) {
    .title-container-one {
        font-size: 26px;
    }

    .text-container-two {
        font-size: 18px;
    }

    .signature-two {
        font-size: 18px;
    }

    .text-container {
        font-size: 18px;
    }

    p {
        font-size: 22px;
    }
}

@media screen and (max-width: 1000px) {
    .title-container-one {
        font-size: 24px;
    }

    .text-container-two {
        font-size: 14px;
    }

    .signature-two {
        font-size: 14px;
    }

    .text-container {
        font-size: 16px;
    }

    p {
        font-size: 20px;
    }
}